div {
    display:inline-block;
    margin:0;
}  
body {
    margin: 0;
  }


h2{
    display:inline;
    text-align: center;
}

canvas{
    display:inline;
}
p{
    text-align: center;
    display:inline;
}